[Desktop Entry]
Version=1.0
Name=Chiplot-Analyze
GenericName=chiplotanalyze
Exec=/usr/bin/chiplot_analyze/chiplot-analyze
Terminal=false
Type=Application
Icon=/usr/share/icons/AppIcon.icns
Encoding=UTF-8
Categories=Science;Biology;Physics

